opencv-python~=4.4.0.46
munkres~=1.1.4
numpy~=1.18.5
torch~=1.6.0
matplotlib~=3.3.3
torchvision~=0.7.0
ffmpeg~=1.4
vidgear~=0.1.9
Flask~=1.1.2
uvicorn~=0.12.3
websockets~=8.1
starlette~=0.14.1
flask-socketio
gevent
eventlet